<% if @accounts.any? %>
<h2>Your Apps</h2>
<div class="row">
<% @accounts.each do |account| %>
  <div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><a href="/accounts/<%= account.id %>"><%= account.name %></a></h3>
    </div>
    <div class="panel-body">
      <p><b>Client ID:</b> <code><%= account.id %></code></p>
      <p><b>Secret:</b> <code><%= account.secret %></code></p>
    </div>
  </div>
  </div>
<% end %>
</div>
<hr>
<% end %>

<form action="/accounts" method="post" role="form" class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Register a New Application</h3>
    <%== erb :account_form, locals: {account: Account.new} %>
    <div class="form-group">
    <hr>
    <button type="submit" class="btn btn-success">Create New Application</button>
  </div>
  </div>
</form>