<p>Hey there, <b><%= current_user %></b>!</p>

<% @accounts.each do |account| %>
<div>
  <h3><a href="/accounts/<%= account.id %>"><%= account.name %></a></h3>
  <p><b>Client ID:</b> <code><%= account.id %></code></p>
  <p><b>Secret:</b> <code><%= account.secret %></code></p>
</div>
<% end %>

<form action="/accounts" method="post">
  <label for="account_name">Name:</label>
  <input type="text" name="account[name]" id="account_name">
  <br>
  <label for="account_origins_text">Origins (one per line):</label>
  <textarea name="account[origins_text]" id="account_origins_text" placeholder="http://www.mysite.com"></textarea>
  <br>
  <label for="account_redirect">Default Redirect URL:</label>
  <input type="url" name="account[redirect]" id="account_redirect" placeholder="http://www.mysite.com/auth">
  <br>
  <button type="submit">Create New Application</button>
</form>